rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /trends/{document=**} {
      allow read: if true;
    }
    match /reports/{document=**} {
      allow read: if true;
    }
    match /trend_history/{document=**} {
      allow read: if true;
    }
  }
}
